<div class="post">
    <h3 class="post__title">{{post.title}}</h3>
    <div class="post__body">{{post.body}}</div>
   
    <div class="post__like-section">
        <div class="post__likes">
            <i class="fa-solid fa-heart"></i>
            <span class="post__likes--number">{{post.likes}}</span>
        </div>
        <div [ngClass]="{'liked' : post.isLiked}"  class="post__add-like">
            <i (click)="like()" class="fas fa-thumbs-up"></i>
            <span>like</span>
        </div>
    </div>
    
</div>



