.post {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background: #000; 
  width: 700px;
  color: #FFF;
  font-size: 18px;
  &__title {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
  }
  &__body {
    margin-bottom: 10px;
    font-style: italic;
  }
  &__like-section {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  &__likes {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    width: 100%;
    &--number {
      font-size: 20px;
    }
    .fa-heart{
      color: red;
      font-size: 18px;
      margin-right: 5px;
    }
  }
  &__add-like {
    display: flex;
    align-items: baseline;
    justify-content: center;
    .fa-thumbs-up {
      font-size: 20px;
      margin-right: 5px;
    }
    &.liked {
      color : #1877F2;
    }
  }
}

:host {
  display: block;
  border: 1px solid #fff;
  margin: 20px;
  border-radius: 5px;
}
